.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 0 2rem;
    color: white;
    .title {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.25rem;
    }
    .ul {
        display: flex;
        justify-content: flex-end;
        .li {
            padding: 0.5rem 1rem;
            .a {
                font-size: 1.25rem;
                color: white;
            }
        }
    }
}
